In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r'C:\Users\nkad1\Desktop\CS 412 Assignments\Assignment 1\data.online.scores.txt'
df = pd.read_csv(path, sep='\t', names=['Student ID', 'MidTerm Scores', 'Final Scores'])
df.head()

   Student ID  MidTerm Scores  Final Scores
0           0              97            95
1           1              83            99
2           2              79            81
3           3              72            84
4           4              92            84

In [3]:
midterm_scores = df['MidTerm Scores']
normalized_df = (df - df.mean())/df.std()
normalized_df.head()

   Student ID  MidTerm Scores  Final Scores
0   -1.729454        1.540998      0.724952
1   -1.725992        0.477455      1.091274
2   -1.722530        0.173585     -0.557176
3   -1.719067       -0.358186     -0.282434
4   -1.715605        1.161161     -0.282434

## a. Compare empirical variance before and after normalization

In [8]:
#before_empirical_var = midterm_scores.var() # = 173.279
mean = midterm_scores.sum()/len(midterm_scores)
before_empirical_var = ((1/len(midterm_scores))*((midterm_scores**2).sum())) - (mean**2)

normalized_midterm_scores = normalized_df['MidTerm Scores']
normalized_mean = normalized_midterm_scores.sum()/len(normalized_midterm_scores)
#after_empirical_var = normalized_midterm_scores.var() # = 1.000
after_empirical_var = ((1/len(normalized_midterm_scores))*((normalized_midterm_scores**2).sum())) - (normalized_mean**2)
print(before_empirical_var, after_empirical_var)

173.105775 0.999

## b. Given an original score of 90, what is the corresponding score after normalization?

In [5]:
original_score = 90
corresponding_z_score = (original_score - df.mean())/df.std()
corresponding_z_score

Student ID       -1.417841
MidTerm Scores    1.009226
Final Scores      0.267049
dtype: float64

## c. Pearsonâ€™s correlation coefficient between midterm scores and final scores is:

In [12]:
normalized_midterm_scores = normalized_df['MidTerm Scores']
normalized_final_scores = normalized_df['Final Scores']
#pearson_corr = normalized_midterm_scores.corr(normalized_final_scores, method='pearson')
pearson_corr = df['MidTerm Scores'].corr(df['Final Scores', method='pearson')
"{0:.3f}".format(pearson_corr)

0.54442474231241222

## d. Covariance between midterm scores and final scores is:

In [14]:
normalized_df[['MidTerm Scores', 'Final Scores']].cov()
#normalized_df_no_ids = normalized_df[['MidTerm Scores', 'Final Scores']]
#cov_scores = normalized_df_no_ids.cov()
#cov_scores

                MidTerm Scores  Final Scores
MidTerm Scores        1.000000      0.544425
Final Scores          0.544425      1.000000

We can see from parts c and d that the covariance and the Pearson correlation coefficient are the same, since the data is already normalized. As a result, the standard deviation of a normalized data set is 1, which simplifies the calculation for the Pearson correlation coefficient