In [2]:
import pandas as pd
import numpy as np

In [3]:
path = r'C:\Users\nkad1\Desktop\CS 412 Assignments\Assignment 1\data.libraries.inventories.txt'
df = pd.read_csv(path, sep='\t')
df.set_index('library', inplace=True)
df

,book_1,book_2,book_3,book_4,book_5,book_6,book_7,book_8,book_9,book_10,...,book_91,book_92,book_93,book_94,book_95,book_96,book_97,book_98,book_99,book_100
library,,,,,,,,,,,,,,,,,,,,,
Jitadel_Maester_Library,158,25,180,152,96,244,72,175,94,146,...,44,98,125,165,42,193,96,53,128,61
Kastle_Black_library,173,191,33,165,108,128,167,105,148,67,...,206,89,152,162,134,179,129,105,151,70

## a. calculate the Jaccard coefficient of Citadel's Maester Library (CML) and Castle Black's library(CBL)

In [4]:
table_1_data = [[20, 120],[2, 58]]
table_1_df = pd.DataFrame(table_1_data)
table_1_df

    0    1
0  20  120
1   2   58

In [5]:
#Jaccard Coefficient: q / (q + r + s)
jaccard_index = table_1_df.iloc[1,1] / (table_1_df.iloc[1,1] + table_1_df.iloc[0,1] + table_1_df.iloc[1,0])
jaccard_index
"{0:.3f}".format(jaccard_index)

'0.322'

## b. calculate minkowski distance of two vector with regard to different h values:

In [18]:
from scipy.spatial.distance import cityblock, euclidean, chebyshev

In [7]:
citadel_library = df.loc['Jitadel_Maester_Library',:]
castle_library = df.loc['Kastle_Black_library',:]

### 1. h = 1

In [15]:
#manhattan = cityblock(citadel_library, castle_library) = 5700
manhattan = abs(citadel_library - castle_library).sum()
manhattan

5700

### 2. h = 2

In [20]:
#euclidean_dist = euclidean(citadel_library, castle_library) = 695.950
euclidean_dist = np.sqrt(((citadel_library - castle_library)**2).sum())
"{0:.3f}".format(euclidean_dist)

'695.950'

### 3. h = inf

In [22]:
#chebyshev = chebyshev(citadel_library, castle_library) = 166
chebyshev_values = abs(citadel_library - castle_library)
chebyshev = np.max(chebyshev_values)
chebyshev

166

## c. Cosine similarity between Citadel's Master Library and Castle Black's with regard to the feature vector.

Cosine similarity is used to measure the similarity between two non-zero vectors. It is important because it does not consider zero-dimensions or values. The closer the output is to 1, the more similar the two vectors (or data sets) are. 0 means no similarity.

In [35]:
from scipy.spatial.distance import cosine
import numpy.linalg as la
    
#cosine_similarity = 1 - cosine(citadel_library, castle_library) # = 0.155
#cosine similarity = 1 - cosine difference. scipy.spatial.distance.cosine calculates cosine distance
cosine_similarity = np.dot(citadel_library, castle_library) /  (la.norm(citadel_library, 2) * la.norm(castle_library, 2))
"{0:.3f}".format(cosine_similarity)

'0.845'

## d. Calculate Kullback-Leibler divergence on Citadel's Master Library and Castle Black's Library

Kullback-Liebler divergence (i.e. relative entropy) is used to measure the difference of two probability distributions over a variable. It measures the amount of information lost when one distribution is used to approximate the other one.

Keep in mind that KL divergence is NOT metric, since it does not satisfy all three properties necessary for a metric measure. It is not symmetric (the KL from dist. 1 to dist 2 is NOT the same as KL from dist. 2 to dist 1), and it does not satisfy triangular inequality.

In [12]:
from scipy.stats import entropy

In [13]:
#Get sum of all books in each library
citadel_books_sum = citadel_library.sum()
castle_books_sum = castle_library.sum()

#Divide amounts of every book available in each library, by overall sum. Obtains
#probability distributions to utilize for KL divergence.
citadel_p_dist = citadel_library / citadel_books_sum
castle_p_dist = castle_library / castle_books_sum

In [30]:
#kl_divergence = entropy(castle_p_dist, citadel_p_dist) = 0.233
#kl_divergence = (citadel_p_dist * np.log(citadel_p_dist / castle_p_dist)).sum()
kl_divergence = (castle_p_dist * np.log(castle_p_dist / citadel_p_dist)).sum()
"{0:.3f}".format(kl_divergence)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

'0.223'