In [4]:
import pandas as pd
import numpy as np

In [5]:
path = r'C:\Users\nkad1\Desktop\CS 412 Assignments\Assignment 1\data.online.scores.txt'
df = pd.read_csv(path, sep='\t', names=['Student ID', 'MidTerm Scores', 'Final Scores'])
df.head()

   Student ID  MidTerm Scores  Final Scores
0           0              97            95
1           1              83            99
2           2              79            81
3           3              72            84
4           4              92            84

## a. Max/min

In [6]:
midterm_scores = df['MidTerm Scores']
max = df['MidTerm Scores'].max()
min = df['MidTerm Scores'].min()
print(max, min)

100 37

## b. 1st Quartile, Median, 3rd Quartile

In [7]:
inter_quartile_range = midterm_scores.quantile([.25, .5, .75])
inter_quartile_range

0.25    68.0
0.50    77.0
0.75    87.0
Name: MidTerm Scores, dtype: float64

## c. The mean Score

In [11]:
#midterm_scores.mean() = 76.715
sum_of_midterm_scores = midterm_scores.sum()
mean = sum_of_midterm_scores/len(midterm_scores)
mean

76.715

## d. The mode score

In [9]:
midterm_scores.mode()

0    77
1    83
dtype: int64

## Empirical Variance

In [18]:
#empirical_variance = midterm_scores.var()
#round(empirical_variance, 3) = 173.279

empirical_variance = ((1/len(midterm_scores))*((midterm_scores**2).sum())) - (mean**2)
empirical_variance

173.105775